MySql and JDBC/Catalog.dtd

<!ELEMENT Catalog (MotorBike+)> 
<!ELEMENT MotorBike (make, model, year, color, engine, chasis-num, accessories)> 
<!ELEMENT make (#PCDATA)> 
<!ELEMENT model (#PCDATA)> 
<!ELEMENT year (#PCDATA)> 
<!ELEMENT color (#PCDATA)> 
<!ELEMENT engine (engin-num, cylinders-num, fuel-type)> 
<!ELEMENT engin-num (#PCDATA)>
<!ELEMENT cylinders-num (#PCDATA)>
<!ELEMENT fuel-type (#PCDATA)>
<!ELEMENT chasis-num (#PCDATA)> 
<!ELEMENT accessories (#PCDATA)> 
<!ATTLIST accessories 
    disc-brake (yes|no) #REQUIRED  
    auto-start (yes|no) #REQUIRED 
    radio (yes|no) #REQUIRED
>