MySql and JDBC/StudenSchema.xsd

<?xml version="1.0"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">  
<xs:element name="Student"> 
<xs:complexType> 
<xs:sequence> 
<xs:element name="name" type="xs:string"/> 
<xs:element name="address" type="xs:string"/> 
<xs:element name="std" type="xs:string"/> 
<xs:element name="marks" type="xs:string"/> 
</xs:sequence> 
</xs:complexType> 
 </xs:element> 
</xs:schema> 